@model RunTracker.Models.RaceModels.RaceRanDetail

@{
    ViewBag.Title = "DetailsRan";
}

<h2>DetailsRan</h2>

<div>
    <h4>RaceRanDetail</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.RaceID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RaceID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Location)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Location)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Distance)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Distance)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Comments)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Comments)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CompletionTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CompletionTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ShoeID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ShoeID)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "EditRan", new { id = Model.RaceID }) |
    @Html.ActionLink("Back to List", "IndexRan")
</p>
