@model IEnumerable<RunTracker.Models.RaceModels.RaceListItem>

@{
    ViewBag.Title = "IndexInterested";
}

<h2>Races I'm Interested In</h2>

<p>
    @Html.ActionLink("Add A New Race", "CreateInterested")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Location)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Distance)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Location)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Distance)
        </td>
        <td>
            @Html.ActionLink("Edit", "EditInterested", new { id = item.RaceID }) |
            @Html.ActionLink("Details", "DetailsInterested", new { id = item.RaceID }) |
            @Html.ActionLink("Delete", "DeleteInterested", new { id = item.RaceID }) |
            @Html.ActionLink("I ran this race", "ConvertToRan", new { id = item.RaceID })
            @*@Html.ActionLink("My Workouts", "Index", "Workout", null, new { @class = "btn btn-primary btn-large" })*@
        </td>
    </tr>
}

</table>
