@model PagedList.IPagedList<RunTracker.Models.RaceModels.RaceListItem>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

@{
    ViewBag.Title = "IndexInterested";
}

<h2>Races I'm Interested In</h2>

<p>
    @Html.ActionLink("Add A New Race", "CreateInterested")
</p>

@using (Html.BeginForm("IndexInterested", "Race", FormMethod.Get))
{
    <p>
        Search this list: @Html.TextBox("SearchString", ViewBag.CurrentFilter as string)
        <input type="submit" value="Search" />
    </p>
}
<div style="float: right;">@Html.ActionLink("View Races I've Run", "IndexRan", null, new { @class = "btn btn-primary btn-sm" })</div>
<table class="table">
    <tr>
        <th>
            @Html.ActionLink("Name", "IndexInterested", new { sortOrder = ViewBag.NameSort, currentFilter = ViewBag.CurrentFilter })
        </th>
        <th>
            @Html.ActionLink("Date", "IndexInterested", new { sortOrder = ViewBag.DateSort, currentFilter = ViewBag.CurrentFilter })
        </th>
        <th>
            @Html.ActionLink("Location", "IndexInterested", new { sortOrder = ViewBag.LocationSort, currentFilter = ViewBag.CurrentFilter })
        </th>
        <th>
            @Html.ActionLink("Distance", "IndexInterested", new { sortOrder = ViewBag.DistanceSort, currentFilter = ViewBag.CurrentFilter })
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Location)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Distance)
            </td>
            <td>
                @Html.ActionLink("Edit", "EditInterested", new { id = item.RaceID }) |
                @Html.ActionLink("Details", "DetailsInterested", new { id = item.RaceID }) |
                @Html.ActionLink("Delete", "DeleteInterested", new { id = item.RaceID }) <br />
                @Html.ActionLink("I ran this race", "ConvertToRan", new { id = item.RaceID }, new { @class = "btn btn-primary btn-xs" })
            </td>
        </tr>
    }

</table>
<br />
Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

@Html.PagedListPager(Model, page => Url.Action("IndexInterested",
    new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))

