@model PagedList.IPagedList<RunTracker.Models.ShoeListItem>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

@{
    ViewBag.Title = "Index";
}

<div class="PageHeading">
    <h2>My Shoes</h2>

    <p>
        @Html.ActionLink("Add a New Shoe", "Create")
    </p>

    @using (Html.BeginForm("Index", "Shoe", FormMethod.Get))
    {
        <p>
            Find by name: @Html.TextBox("SearchString", ViewBag.CurrentFilter as string)
            <input type="submit" value="Search" />
        </p>
    }
</div>
<table class="table">
    <tr>
        <th>
            @Html.ActionLink("Name", "Index", new { sortOrder = ViewBag.NameSort, currentFilter = ViewBag.CurrentFilter })
        </th>
        <th>
            @Html.ActionLink("Miles Run", "Index", new { sortOrder = ViewBag.MilesRunSort, currentFilter = ViewBag.CurrentFilter })
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MilesRun)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.ShoeID }) |
                @Html.ActionLink("Details", "Details", new { id = item.ShoeID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.ShoeID })
            </td>
        </tr>
    }

</table>
<br />
Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

@Html.PagedListPager(Model, page => Url.Action("Index",
    new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))
